extends ./layout.pug
block content
  // navbar
  nav.navbar.navbar-expand-md.navbar-light.justify-content-between.fixed-top
    a.navbar-brand(href='/')
      img.logo.my-2(src='../img/logo_edited1.png' alt='logo')
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarsExampleDefault' aria-controls='navbarsExampleDefault' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarsExampleDefault.collapse.navbar-collapse.justify-content-end
      ul.navbar-nav
        li.nav-item
          a.nav-link(href='#') Logout
        // util search
        
  section.menu-area.mb-r
    .container
      .row
        h1.mb-5.info Admin CRUD Page  
        .row
          each menu in menus
            .col-md-6.col-lg-4
              .card.mb-3.shadow
                img.card-img-top(src='/img/' + menu.image)
                .card-body
                  h4.card-title.font-weight-bold=menu.name
                  p.card-text
                    | #{menu.description}
                  p.text-center.product-price
                    | #{menu.price}
                  a(href="/edit/" + menu._id) Edit | 
                  a(href="/delete/" + menu._id) Delete
  
  .container
    h1
      | Admin: 
      em Dashboard
    // this table displays all the menu
    // button to go to form to add aonther menu
    p
      a(style='color: white;' href='/edit')
        .btn.btn-success Add Menu +
    // form to search for users by name
    form(action="/menu", method="post" class="form")
    table.table.table-striped
      // this is the table
      thead.thead-dark
        tr
          th(scope='col') Menu ID
          th(scope='col') Menu Name
          th(scope='col') Menu Description
          th(scope='col') Price
          th(scope='col') Edit
          th(scope='col') Delete
      
    each menu in menus
      tbody
        tr
          th(scope='row') 1
          th #{menu.menuImage}
          td #{menu.menuName}
          td #{menu.menuDescription}
          td #{menu.price}
          td
          td
            p
              a.btn.btn-primary(href='#') Edit
          td
            form.delete(onsubmit="return confirm('Do you really want to delete this record?')" action='#' method='post')
              input(type='hidden' name='_method' value='DELETE')
              input(type='hidden' name='id' value='1')
              button.btn.btn-danger(type='submit') Delete
     
